<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new user</h1>
    <form action="/create/user" method="post" >
        <div>
            first name:
            <input type="text" name="first_name" id="">
        </div>
        <div>
            last name:
            <input type="text" name="last_name" id="">
        </div>
        <div>
            email:
            <input type="text" name="email" id="">
        </div>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>