<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<!-- linking a javascript file -->
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<!-- linking an image -->

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <table class="table">
            <thead>
                <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Full Name</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users  %}
            <tr>
                <th scope="row">1</th>
                <td>{{user['first_name']}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
</body>
</html>