<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/index.js') }}"></script>
    <title>Index</title>
    <style>
        .sub-content{
            background-color: {{color}};
        }
        
    </style>
</head>

<body>
    {{number}}
    <h1>Welcome!</h1>
    <div class="container">
        <div class="row">
            {% for i in range(number) %}
            <div class="sub-content"></div>
            {% endfor %}
        </div>
    </div>
</body>

</html>