<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dojo Survey</h1>

    <form action="/create/survey" method="post">
        <input type="text" name="ninja_name" id="">
        <select name="location" id="">
            <option value="Burbank">Burbank</option>
            <option value="San Jose">San Jose</option>
            <option value="Online">Online</option>
        </select>
        <input type="submit" value="Create">
    </form>
</body>
</html>