<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {{dojos}}
    <h2>Add a Ninja</h2>
    <form action="/handle_new_ninja" method="post">
        <select name="dojo_id" id="">
            {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
        </select>
        first name<input type="text" name="first_name" id="">
        last name<input type="text" name="last_name" id="">
        age<input type="text" name="age" id="">
        <input type="submit" value="submit">
    </form>
</body>
</html>